@font-face {
    font-family: 'KomikaxGL';
    src: url('/Calendario/KOMIKAGL.ttf');
    font-style: normal;
    font-weight: normal;
    
}

@font-face {
    font-family: 'KomikaP';
    src: url('/Calendario/KOMIKAP_.ttf');
    font-style: normal;
    font-weight: normal;
}

table {
    margin: 15px;
    padding: 15px;
    font-family: 'KomikaxGL';
    font-size: 33px;
}

th {
    border: orange 3px solid;
    color: brown;
    /*background-color: orange;*/
}

td {
    border: yellow 2px solid;
    font-family: 'KomikaP';
    background-color: yellow;
    text-align: center;
}